<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link a FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!-- Link at Bootstrap's CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link to a more specific CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link to the VUE Framework -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>To Do List</title>
</head>
<body>  
    <div id="app">

        <header class="mt-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                        <h2>{{titleList}}</h2>
                    </div>
                </div>
            </div>
        </header>
        
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row mb-5">
                            <div class="col-6">
                                <input v-on:keyup.enter="keyUpInput" v-model="inputItem" name="input-text-item" placeholder="Insert Item" class="align-middle me-5">
                                <button @click="addItem" type="submit" class="my_btn">Aggiungi</button>
                            </div>
                            <div class="col-6 text-end">
                                <span class="align-middle me-3">Rimuovi elementi sbarrati</span>
                                <button @click="removeAllItem()" class="my_btn">Rimuovi</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul v-if="toDoList.length > 0">
                                    <li class="todolist-item" v-for="(element, index) in toDoList">
                                        <!-- alternative :class="element.completed ? 'line-through' : '' " for span -->
                                        <span @click="toggleCompleted(element)" :class="{'line-through' : element.completed}">{{element.listItem}}</span>
                                        <i @click="removeItem(index)" class="far fa-times-circle ms-3"></i>
                                    </li>
                                </ul>
                                <h3 v-else>Completed All Tasks</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="js/script.js">
    </script>
</body>
</html>